@model EEONow.Models.EEOProgressReportByRegionModel
@{
    ViewBag.Title = "EEOProgressReportByRegion";
    Layout = "~/Views/Shared/_PartialViewLayout.cshtml";
}
<style>
    #div-tablebody{
        /*overflow:hidden;*/
        overflow-y:scroll;
    }
</style>

<table class="table-grid" style="width:98.98%">
    <tbody>
        <tr>
            <td class="Alm-text" colspan="2" width="23%">
                @Model.OrganizationName
            </td>
            <td width="78%">
                <table class="table-grid aligncenter">
                    <tr>
                        <th class="td-top-none td-right-none" colspan="12" height="25px" style="text-align:center">
                            EEO Progress Report By Region - @Model.RegionName
                        </th>
                        <td class="td-top-none" colspan="2"><span onclick="ExportEEOReport();" class="AVExport">Export to PDF</span></td>
                    </tr>
                    <tr>
                        @foreach (var item in Model.ListRacesForProgressRegion)
                        {
                        <td class="noborder" width="12.5%" colspan="2" id="TdRaces@(item.RacesId)">
                            @item.RacesName
                        </td>
                        }
                        <td class="noborder alignmiddle" width="8.5%" rowspan="2" colspan="2">
                            Total Employees
                        </td>
                    </tr>
                    <tr style="text-align:center">


                        @foreach (var item in Model.ListRacesForProgressRegion)
                        {
                        <td width="6.25%">M</td>
                        <td class="border_right" width="6.25%">F</td>
                        }
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<div id="div-tablebody">
    <table class="table-grid">
        <tbody>
            @{int countEEORow = 0;
            foreach (var itemEEO in Model.ListEEOForProgressRegion)
            {
                countEEORow = countEEORow + 1;
                    <tr>
                        <td class="@(countEEORow % 2 == 1?"color-Black":"color-Black Bg-AlaternateTr")" style="text-align: center; vertical-align: middle;" width="11%">
                            <span>@itemEEO.EEOName</span>
                        </td>
                        <td width="12%">
                            <table class="table-grid">
                                <tr>
                                    <th class="td-top-none color-Black alignRight" height="20px"></th>
                                </tr>
                                <tr class="Bg-AlaternateTr">
                                    <th class="color-Black alignRight" height="20px">Employees</th>
                                </tr>
                                <tr>
                                    <th class="color-Black alignRight" height="20px">Percentage</th>
                                </tr>
                                <tr class="Bg-AlaternateTr">
                                    <th class="color-Black alignRight" height="20px"></th>
                                </tr>
                                <tr>
                                    <th class="color-Black alignRight" height="20px">Employees</th>
                                </tr>
                                <tr class="Bg-AlaternateTr">
                                    <th class="color-Black alignRight" height="20px">Percentage</th>
                                </tr>
                                <tr>
                                    <th class="color-Black alignRight" height="20px">Differences +/-</th>
                                </tr>
                                <tr class="Bg-AlaternateTr">
                                    <th class="color-Black alignRight" height="20px">Differences % </th>
                                </tr>
                            </table>
                        </td>
                        <td width="78%">
                            <table class="table-grid">
                                <tr class="bg-blue">
                                    <td class="td-top-none alignmiddle" height="20px" colspan="14" width="6.25%"><b> As of begin date: @Model.StartDate</b></td>
                                    <td class="td-top-none alignmiddle nohover formatNumber border_left" rowspan="3" colspan="2" width="8.5%">
                                        <b>
                                            @Model.ListComputeProgressRegionValue.Where(e => e.EEOId == itemEEO.EEOId && e.BeginEnd == 1).GroupBy(e => e.EEOId).Select(e => e.Sum(r => r.TotalEmployeeMale + r.TotalEmployeeFemale)).FirstOrDefault()
                                        </b>
                                    </td>
                                </tr>
                                <tr class="bg-blue Bg-AlaternateTr">
                                    @if (Model.ListRacesForProgressRegion != null)
                                {
                                    foreach (var itemALM in Model.ListRacesForProgressRegion)
                                    {
                                            <td class="alignmiddle" height="20px" width="6.25%">
                                                @Model.ListComputeProgressRegionValue.Where(e => e.RacesId == itemALM.RacesId && e.EEOId == itemEEO.EEOId && e.BeginEnd == 1).Select(e => e.TotalEmployeeMale).FirstOrDefault()
                                            </td>
                                            <td class="alignmiddle" height="20px" width="6.25%">
                                                @Model.ListComputeProgressRegionValue.Where(e => e.RacesId == itemALM.RacesId && e.EEOId == itemEEO.EEOId && e.BeginEnd == 1).Select(e => e.TotalEmployeeFemale).FirstOrDefault()
                                            </td>
                                    }
                                }
                                </tr>
                                <tr class="bg-blue">
                                    @foreach (var itemALM in Model.ListRacesForProgressRegion)
                                {
                                        <td class="alignmiddle" height="20px" width="6.25%">
                                            @(Model.ListComputeProgressRegionValue.Where(e => e.RacesId == itemALM.RacesId && e.EEOId == itemEEO.EEOId && e.BeginEnd == 1).Select(e => e.PercentageEmployeeMale.ToString("N2") + " %").FirstOrDefault())
                                        </td>
                                        <td class="alignmiddle" height="20px" width="6.25%">
                                            @Model.ListComputeProgressRegionValue.Where(e => e.RacesId == itemALM.RacesId && e.EEOId == itemEEO.EEOId && e.BeginEnd == 1).Select(e => e.PercentageEmployeeFemale.ToString("N2") + " %").FirstOrDefault()
                                        </td>
                                }
                                </tr>



                                <tr class="bg-blue Bg-AlaternateTr">
                                    <td class=" alignmiddle" height="20px" colspan="14" width="6.25%"><b>As of end date: @Model.EndDate</b></td>
                                    <td class="alignmiddle nohover formatNumber border_left" rowspan="3" colspan="2" width="8.5%">
                                        <b>
                                            @Model.ListComputeProgressRegionValue.Where(e => e.EEOId == itemEEO.EEOId && e.BeginEnd == 2).GroupBy(e => e.EEOId).Select(e => e.Sum(r => r.TotalEmployeeMale + r.TotalEmployeeFemale)).FirstOrDefault()
                                        </b>
                                    </td>
                                </tr>
                                <tr class="bg-blue">
                                    @if (Model.ListRacesForProgressRegion != null)
                                {
                                    foreach (var itemALM in Model.ListRacesForProgressRegion)
                                    {
                                            <td class="alignmiddle" height="20px" width="6.25%">
                                                @Model.ListComputeProgressRegionValue.Where(e => e.RacesId == itemALM.RacesId && e.EEOId == itemEEO.EEOId && e.BeginEnd == 2).Select(e => e.TotalEmployeeMale).FirstOrDefault()
                                            </td>
                                            <td class="alignmiddle" height="20px" width="6.25%">
                                                @Model.ListComputeProgressRegionValue.Where(e => e.RacesId == itemALM.RacesId && e.EEOId == itemEEO.EEOId && e.BeginEnd == 2).Select(e => e.TotalEmployeeFemale).FirstOrDefault()
                                            </td>
                                    }
                                }
                                </tr>
                                <tr class="bg-blue Bg-AlaternateTr">
                                    @foreach (var itemALM in Model.ListRacesForProgressRegion)
                                {
                                        <td class="alignmiddle" height="20px" width="6.25%">
                                            @(Model.ListComputeProgressRegionValue.Where(e => e.RacesId == itemALM.RacesId && e.EEOId == itemEEO.EEOId && e.BeginEnd == 2).Select(e => e.PercentageEmployeeMale.ToString("N2") + " %").FirstOrDefault())
                                        </td>
                                        <td class="alignmiddle" height="20px" width="6.25%">
                                            @Model.ListComputeProgressRegionValue.Where(e => e.RacesId == itemALM.RacesId && e.EEOId == itemEEO.EEOId && e.BeginEnd == 2).Select(e => e.PercentageEmployeeFemale.ToString("N2") + " %").FirstOrDefault()
                                        </td>

                                }
                                </tr>



                                <tr class="bg-blue">
                                    @if (Model.ListRacesForProgressRegion != null)
                                {
                                    foreach (var itemALM in Model.ListRacesForProgressRegion)
                                    {
                                            <td class="alignmiddle" height="20px" width="6.25%">
                                                @Model.ListRegionEmployeeDifference.Where(e => e.RacesId == itemALM.RacesId && e.EEOId == itemEEO.EEOId).Select(e => e.DifferencesMale).FirstOrDefault()
                                            </td>
                                            <td class="alignmiddle" height="20px" width="6.25%">
                                                @Model.ListRegionEmployeeDifference.Where(e => e.RacesId == itemALM.RacesId && e.EEOId == itemEEO.EEOId).Select(e => e.DifferencesFemale).FirstOrDefault()
                                            </td>
                                    }
                                }
                                    <td class="alignmiddle nohover" colspan="2" height="20px" width="8.5%">

                                        @Model.ListRegionEmployeeDifference.Where(e => e.EEOId == itemEEO.EEOId).GroupBy(e => e.EEOId).Select(e => e.Sum(r => r.DifferencesMale + r.DifferencesFemale)).FirstOrDefault()


                                    </td>
                                </tr>
                                <tr class="bg-blue Bg-AlaternateTr">
                                    @foreach (var itemALM in Model.ListRacesForProgressRegion)
                                {
                                        <td class="alignmiddle" height="20px" width="6.25%">
                                            @(Model.ListRegionEmployeeDifference.Where(e => e.RacesId == itemALM.RacesId && e.EEOId == itemEEO.EEOId).Select(e => e.PercentageDifferenceMale.ToString("N2") + " %").FirstOrDefault())
                                        </td>
                                        <td class="alignmiddle" height="20px" width="6.25%">
                                            @Model.ListRegionEmployeeDifference.Where(e => e.RacesId == itemALM.RacesId && e.EEOId == itemEEO.EEOId).Select(e => e.PercentageDifferenceFemale.ToString("N2") + " %").FirstOrDefault()
                                        </td>
                                }
                                    <td class="alignmiddle nohover" colspan="2" height="20px" width="8.5%">
                                        @{
                                        double TotalDivident = Model.ListComputeProgressRegionValue.Where(e => e.EEOId == itemEEO.EEOId && e.BeginEnd ==1).GroupBy(e => e.EEOId).Select(e => e.Sum(r => r.TotalEmployeeMale + r.TotalEmployeeFemale)).FirstOrDefault();
                                        double totaSum = Model.ListRegionEmployeeDifference.Where(e => e.EEOId == itemEEO.EEOId).GroupBy(e => e.EEOId).Select(e => e.Sum(r => r.DifferencesMale + r.DifferencesFemale)).FirstOrDefault();
                                        if (totaSum > 0 && TotalDivident > 0)
                                        {
                                                @(((totaSum * 100) / TotalDivident).ToString("N2") + " %")
                                        }
                                        else
                                        {
                                                @("0 %")
                                        }
                                        }
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                                                }
            }
            <tr>
                <th colspan="2" class="alignRight" width="23%">

                </th>

                <th class="alignmiddle" height="20px" width="78%">
                    <table class="table-grid">
                        <tr class="bg-blue">
                            <td class="td-top-none alignmiddle nohover tdgrandtotal" style="text-align:left"> Grand Total</td>
                            <td class="td-top-none alignmiddle nohover formatNumber" style="font-size:15px" width="9.0%" height="30px">
                                <b>  @Model.ListComputeProgressRegionValue.Sum(e => e.TotalEmployeeMale + e.TotalEmployeeFemale)</b>
                            </td>
                        </tr>
                    </table>
                </th>
            </tr>
        </tbody>
    </table>

</div>


@section scripts{
    <script src="~/Scripts/custom.js"></script>

    <script>
        $(document).ready(function () {
            //$(this).find('td').each(function (e) {
            //    console.log(e);
            //})
            //$('.formatNumber').text(formatNumber($('.formatNumber').text()))
            //console.log($('.formatNumber').text());

            $('.formatNumber').each(function (e, elm) {
                $(elm).text(formatNumber($(elm).text()));
            })
            $("#div-tablebody").height($(".main-content").height() - 375);
        });


      
           
    </script>
}
