@model EEONow.Models.StaffLevelReportModel
@using EEONow.Utilities;
@{
    ViewBag.Title = "Staff Level Report";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var LoginInfo = AppUtility.DecryptCookie();
}

<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/kendo/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/kendo/jquery.min.js"></script>
<script src="~/Scripts/kendo/jszip.min.js"></script>
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/Content/Reports.css" rel="stylesheet" />
<style>
    #RenderReport {
        min-width: 1500px;
    }

    .AVExport {
        margin-right: -90px;
    }
    .render-outer {
        overflow-y: hidden;
    }
</style>
<input type="hidden" id="HfUserRoleInfo" value="@LoginInfo.Roles" />
<h2 class="main_title_row">Search By:</h2>
<div id="SearchPannel">
    <div class="row">
        <div class="col-md-3" style="@(LoginInfo.Roles=="DefinedSoftwareAdministrator"? "display:block" : "display:none")">
            <div class="row">
                <div class="col-lg-12">Organization :</div>
                <div class="col-lg-12">
                    @(Html.Kendo().DropDownList()
              .Name("organization")
              .HtmlAttributes(new { style = "width:100%" })
              .DataTextField("OrganizationName")
              .DataValueField("OrganizationId")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetOrganizationsList", "StaffLevelReport");
                  });
              })
                    )
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">

                <div class="col-lg-12">File Submissions :</div>
                <div class="col-lg-12">
                    @(Html.Kendo().DropDownList()
              .Name("filesubmission")
              .HtmlAttributes(new { style = "width:100%" })
              .DataTextField("FileName")
              .DataValueField("FileSubmissionId")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetFileViaOrganisation", "StaffLevelReport")
                          .Data("filterFiles");
                  })
                  .ServerFiltering(true);
              })
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("organization")

                    )
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="row">

                <div class="col-lg-12">EEO Job Category :</div>
                <div class="col-lg-12">
                    @(Html.Kendo().DropDownList()
              .Name("eeojobcategory")
              .HtmlAttributes(new { style = "width:100%" })
              .OptionLabel("--Select All--")
              .DataTextField("EEOJobCategoryName")
              .DataValueField("EEOJobCategoryId")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetEEOJobCategory", "StaffLevelReport")
                      .Data("filterEEOCategories");
                  })
                  .ServerFiltering(true);
              })
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("organization")
                    )
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="row">

                <div class="col-lg-12">Program Office :</div>
                <div class="col-lg-12">
                    @(Html.Kendo().DropDownList()
              .Name("eeoprogramoffice")
              .HtmlAttributes(new { style = "width:100%" })
              .OptionLabel("--Select All--")
              .DataTextField("EEOProgramOfficeName")
              .DataValueField("EEOProgramOfficeId")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetEEOProgramOffice", "StaffLevelReport")
                          .Data("filterEEOProgramOffice");
                  })
                  .ServerFiltering(true);
              })
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("filesubmission")
                    )
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="row">

                <div class="col-lg-12">Region :</div>
                <div class="col-lg-12">
                    @(Html.Kendo().DropDownList()
              .Name("region")
              .HtmlAttributes(new { style = "width:100%" })
              .OptionLabel("--Select All--")
              .DataTextField("RegionName")
              .DataValueField("RegionId")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetEEORegion", "EEOProgressReportByRegion")
                          .Data("filterEEORegion");
                  })
                  .ServerFiltering(true);
              })
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("filesubmission")
                    )
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
                <div class="col-lg-12">
                    <input type="button" id="btnSubmit" onclick="BindStaffLevelReport();" style="width:100%" class="k-primary k-button" value="Search" />
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>


<h2 class="main_title_row">Staff Level Report:</h2>

<div class="render-outer">
    <div id="RenderReport">
    </div>
</div>
<div class="BodyLoader-outer">
    <div class="BodyLoader">
    </div>
</div>

@section css{
    <link href="~/Content/alertifyjs/css/alertify.rtl.css" rel="stylesheet" />
}




@section scripts{
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Content/alertifyjs/alertify.js"></script>
    <script src="~/Content/alertifyjs/alertify.min.js"></script>

    <script>
        $(document).ready(function () {  
            $('.formatNumber').each(function (e, elm) {
                $(elm).text(formatNumber($(elm).text()));
            });
            $(".BodyLoader").hide();
            $(".BodyLoader-outer").hide();
            $(".render-outer").height($(".main-content").height() - 250);
        });
        function ExportStaffLevelReport() {
            $(".BodyLoader").show();
            $(".BodyLoader-outer").show();
              var organization= escape($("#organization").val());
              var filesubmission=escape( $("#filesubmission").val());
              var eeojobcategory=escape( $("#eeojobcategory").val());
              var eeoprogramoffice=escape( $("#eeoprogramoffice").val());
              var region = $("#region").val();
              location.href = '@Url.Action("ExportToPDF", "StaffLevelReport")?organization=' + organization + '&filesubmission=' + filesubmission + '&eeojobcategory=' + eeojobcategory  + '&eeoprogramoffice=' + eeoprogramoffice  + '&region=' + region;
              $(".BodyLoader").hide();
              $(".BodyLoader-outer").hide();

        }
        function BindStaffLevelReport() {
                $(".BodyLoader").show();
                $(".BodyLoader-outer").show();
                $.ajax({
                    type: "GET",
                    cache: false,
                    url: "/StaffLevelReport/GetStaffLevelReport",
                    data: {
                        organization: $("#organization").val(),
                        filesubmission: $("#filesubmission").val(),
                        eeojobcategory: $("#eeojobcategory").val(),
                        eeoprogramoffice: $("#eeoprogramoffice").val(),
                        region: $("#region").val()
                    },
                    success: function (response) {
                        //console.log(response)
                        $("#RenderReport").html(response);
                        $(".BodyLoader").hide();
                        $(".BodyLoader-outer").hide();
                    },
                    error: function (errorResponse) {
                        $(".BodyLoader").hide();
                        $(".BodyLoader-outer").hide();
                        console.log(errorResponse);
                    }
                });

        }
        function filterFiles() {
            return {
                organization: $("#organization").val()
            };
        }
        function filterEEOCategories() {
            return {
                organization: $("#organization").val()
            };
        }
        function filterEEOProgramOffice() {
            return {
                organization: $("#organization").val(),
                filesubmission: $("#filesubmission").val()
            };
        }
        function filterEEORegion() {
            return {
                organization: $("#organization").val(),
                filesubmission: $("#filesubmission").val()
            };
        }
    </script>
}