@using Kendo.Mvc.UI
@using EEONow.Utilities;
@{
    ViewBag.Title = "File Submission";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var LoginInfo = AppUtility.DecryptCookie();
    var TempOrgId = AppUtility.GetOrgIdForAdminView();
}
<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/kendo/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/kendo/jquery.min.js"></script>
<script src="~/Scripts/kendo/jszip.min.js"></script>
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
@*<link href="~/Content/kendo/kendo.material.min.css" rel="stylesheet" />*@
<style>
    .k-button.k-button-icontext .k-icon {
        vertical-align: middle !important;
        margin: 0 3px 0 0 !important;
    }

    .k-edit-form-container {
        width: auto;
    }

        .k-edit-form-container .editor-label, .k-edit-label {
            width: 40%;
        }

        .k-edit-field, .k-edit-form-container .editor-field {
            width: 50%;
        }

    .k-dialog .k-window-titlebar .k-dialog-title {
        visibility: hidden;
    }

    .k-dialog .k-dialog-titlebar {
        display: none !important;
    }
</style>

@*ToolBar Label Section CSS*@
<style>
    .refreshBtnContainer {
        display: inline-block;
    }

    .toolbar {
        float: right;
    }
</style>

@*PDF font size and grid toolbar*@
<style>
    /*
        The standard PDF fonts have no support for Unicode characters.
    */
    .k-grid {
        font-family: "DejaVu Sans", "Arial", sans-serif;
    }

    /* Hide the Grid header and pager during export */
    /*.k-pdf-export .k-grid-toolbar,
    .k-pdf-export .k-pager-wrap {
        display: none;
    }*/
</style>

<style>
    /* Page Template for the exported PDF */
    .page-template {
        font-family: "DejaVu Sans", "Arial", sans-serif;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

        .page-template .header {
            position: absolute;
            top: 30px;
            left: 30px;
            right: 30px;
            border-bottom: 1px solid #888;
            color: #888;
        }

        .page-template .footer {
            position: absolute;
            bottom: 15px;
            left: 30px;
            right: 30px;
            border-top: 1px solid #888;
            text-align: center;
            color: #888;
        }

        .page-template .watermark {
            font-weight: bold;
            font-size: 400%;
            text-align: center;
            margin-top: 30%;
            color: #aaaaaa;
            opacity: 0.1;
            transform: rotate(-35deg) scale(1.7, 1.5);
        }

    /* Content styling */
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }

    .filtersection {
        background: #f2f3f4
    }

    .filterheader {
        font-weight: 700;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .k-dropzone {
        padding: 2px;
    }

    #submissiondatetime {
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>

@*<div class="col-md-3">
        <div class="row">

            <div class="col-lg-12">Submission Date :</div>
            <div class="col-lg-12">


            </div>

        </div>
    </div>*@

@if (LoginInfo.Roles == "DefinedSoftwareAdministrator")
{
    <style>
        body {
            background: #fff !important;
        }

        .main_title_row {
            margin: -10px 0 10px 0;
        }

        #control-export-menu {
            top: 10px !important;
        }

        #divSearch, #divSearchIcon {
            top: 10px !important;
            left: 0px !important;
        }

        fieldset {
            display: block;
            margin-inline-start: 2px;
            margin-inline-end: 2px;
            padding-block-start: 0.35em;
            padding-inline-start: 0.75em;
            padding-inline-end: 0.75em;
            padding-block-end: 0.625em;
            min-inline-size: min-content;
            border-width: 2px;
            border-style: groove;
            border-color: threedface;
            border-image: initial;
        }

        legend {
            display: block;
            padding-inline-start: 2px;
            padding-inline-end: 2px;
            border-width: initial;
            border-style: none;
            border-color: initial;
            border-image: initial;
            margin-bottom: 0px !important;
            font-size: 14px !important;
            /*font-weight: 700;*/
            width: auto !important;
        }

        .pdfsettinglabel {
            margin-top: 5px;
            text-align: right;
            /*font-weight: 700;*/
        }

        .back-section {
            min-width: 100% !important;
        }
    </style>

    <div id="SearchPannel">
        <div class="row">
            <div class="col-md-5">
                <fieldset>
                    <legend>Organization:</legend>
                    <div class="row">
                        <div class="col-lg-9">
                            @(Html.Kendo().DropDownList()
.Name("organization")
.HtmlAttributes(new { style = "width:100%" })
.OptionLabel("--Select Organization--")
.DataTextField("OrganizationName")
.DataValueField("OrganizationId")
.DataSource(source =>
{
    source.Read(read =>
    {
        read.Action("GetOrganizationsList", "EEOGenderCompensationReport");
    });
}).Events(e =>
{
    e.Change("BindDashboardForAdmin");
})
                            )
                        </div>

                    </div>
                </fieldset>
            </div>

        </div>
    </div>
}


<div id="uploader" style="display:none">
    <h2 class="main_title_row">Upload Employee list</h2>
    <div class="demo-section k-content filtersection">
        <div class="row filtersection">

            <div class="col-lg-3 col-md-3 filterheader">File Effective Date</div>
            <div class="col-lg-9 col-md-9 filterheader">Upload File</div>


            <div class="col-lg-3 col-md-3">
                @(Html.Kendo().DatePicker()
.Name("submissiondatetime")
.Value(DateTime.Now.ToShortDateString())
.HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                )
                <br />
            </div>
            <div class="col-lg-9 col-md-9 filterheader uploadtoggle">

                @(Html.Kendo().Upload()
   .Name("files")
   .Messages(m => m.Select("Select file..."))
   .Async(a => a
    .Save("SubmitEmployeeCSV", "EmployeeSubmission")
    .AutoUpload(false)

   )
   .HtmlAttributes(new { aria_label = "files" })
   .Multiple(false)
   .Validation(validation => validation.AllowedExtensions(new string[] { ".CSV" }))
   .Events(events => events
   .Complete("onComplete")
   .Error("onError")
   .Select("onSelect")
   .Upload("onUpload")
   .Success("onSuccess")
)
                )
            </div>

        </div>
    </div>
</div>
<div id="Validator" style="display:none">
    <h2 class="main_title_row">Validate Employee list</h2>
    <div style="text-align: right;padding-bottom: 13px;">
        <button onclick="ValidateFileSubmissionRecords()" class="k-button k-primary">Validate All</button>
        <button onclick="DeleteFileSubmissionRecords()" class="k-button k-primary">Delete All</button>
    </div>
    <div class="loading" id="employee">
        @(Html.Kendo().Grid<EEONow.Models.FileSubmissionRecordsModel>()
.Name("grid")
.Columns(columns =>
{
    columns.Bound(p => p.FirstName).Width(100);
    columns.Bound(p => p.PositionTitle).Width(200);
    columns.Bound(p => p.ProgramOfficeName).Width(200);
    columns.Bound(p => p.Salary).Width(100);
})
    .ToolBar(toolbar =>
    {
    toolbar.Template(@<text>
            <div class="refreshBtnContainer">
                <label>File Version: <span id="SpFileVersion"></span></label>
            </div>
            <div class="toolbar">
                <label>File Effective Date: <span id="SpFileSubmission"></span></label>
            </div>
    </text>);
    })
.Pageable()
.Sortable()
.Scrollable()
.HtmlAttributes(new { style = "height:550px;" })
.DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(20)
    .Events(events =>
    {
        events.RequestEnd("onRequestEnd");
    })
    .Model(model =>
    {
        model.Id(p => p.FileSubmissionId);
    }
    )
    .Read(read => read.Action("BindFileSubmissionRecordModel", "EmployeeSubmission"))
)
        )
    </div>
</div>


<div id="ErrorEmployeeList" style="display:none">
    <h2 class="main_title_row">Employee error list</h2>
    <div style="text-align: right;padding-bottom: 13px;">
        <button onclick="DeleteFileSubmissionRecords()" class="k-button k-primary">Delete All</button>
    </div>
    <div id="FailureRecords">
        @(Html.Kendo().Grid<EEONow.Models.EmployeeErrorlist>()
.Name("gridFailureRecord")
.Columns(columns =>
{
    columns.Bound(p => p.Name).Width(200);
    columns.Bound(p => p.Position).Width(200);
    columns.Bound(p => p.Email).Width(200);
    columns.Bound(p => p.ErrorMessage).Encoded(false);
})
.Pageable()
.Sortable()
.Scrollable()
 .ToolBar(tools => tools.Pdf())
 .Pdf(pdf => pdf
        .AllPages()
        .AvoidLinks()
        .PaperSize("A4")
        .Scale(0.8)
        .Margin("2cm", "1cm", "1cm", "1cm")
        .Landscape()
        .RepeatHeaders()
        .TemplateId("page-template")
        .FileName("ErrorEmployeeList.pdf")
        .ProxyURL(Url.Action("Pdf_Export_Save", "Grid"))
    )
.HtmlAttributes(new { style = "height:550px;" })
.DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(1000)
    .Events(events =>
    {
        events.RequestEnd("onFailureRecordRequestEnd");
    })
    .Read(read => read.Action("BindEmployeeSubmissionErrorList", "EmployeeSubmission"))
    )
        )
    </div>

</div>


@section css{
    <link href="~/Content/Custom/login.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/css/alertify.rtl.css" rel="stylesheet" />
}
@section scripts{
    <script type="x/kendo-template" id="page-template">
        <div class="page-template">
            <a class="navbar-brand" href="/"><span class="primary-color"> EEO Now Application </span></a>
            <div style="margin-top:18px" class="header">
                <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                <div style="text-align:center; font:200">
                    File Upload and Validation Report as of @(DateTime.Now).
                </div>
            </div>
            <div class="watermark">EEO Now</div>
            <div class="footer">
                Page #: pageNum # of #: totalPages #
            </div>
        </div>
    </script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/alertifyjs/alertify.js"></script>
    <script src="~/Content/alertifyjs/alertify.min.js"></script>
    <script>
        function onSuccess(e) {
            $("#uploader").hide();
            $("#Validator").show();
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read();
            alertify.success("File successfully uploaded");

        }
        function onError(e) {
            $("#uploader").show();
            $("#Validator").hide();
            alertify.error("Failure to upload, Please check the CSV file structure");
        }
        function onComplete(e) {
            // console.log(e);
        }
        function DeleteFileSubmissionRecords() {
            $.ajax({
                type: "GET",
                cache: false,
                url: "/EmployeeSubmission/DeleteFileSubmissionRecords",
                success: function (response) {
                    if (response.Succeeded) {
                        alertify.success("Record deleted successfull");
                        var grid = $("#grid").data("kendoGrid");
                        grid.dataSource.read();
                        $("#uploader").show();
                        $("#Validator").hide();
                        $("#ErrorEmployeeList").hide();
                    }
                    else {
                        alertify.success("Fail to delete records");
                    }
                }
            })
        }
        function ValidateFileSubmissionRecords() {
            kendo.ui.progress($(".loading"), true);
            $.ajax({
                type: "GET",
                cache: false,
                url: "/EmployeeSubmission/ValidateFileSubmissionRecords",
                success: function (response) {
                    kendo.ui.progress($(".loading"), false);
                    if (!response.Succeeded) {
                        $("#Validator").hide();
                        $("#ErrorEmployeeList").show();

                        var grid = $("#gridFailureRecord").data("kendoGrid");
                        grid.dataSource.read();
                        //grid.refresh();

                        alertify.error("Following records not validated, please review and fix the data before validate");
                    }
                    else {
                        var grid = $("#grid").data("kendoGrid");
                        grid.dataSource.read();
                        $("#Validator").show();
                        $("#ErrorEmployeeList").hide();
                        alertify.success("All records are validate successfully and saved in the employee database")
                    }
                }
            })
        }
        function onRequestEnd(e, status) {
            if (!e.response.Errors) {
                if (e.response.Total > 0) {
                    BindToolbarData();
                    $("#uploader").hide();
                    $("#Validator").show();
                }
                else {
                    $("#uploader").show();
                    $("#Validator").hide();
                }
            }
        }
        function BindToolbarData() {
            $.ajax({
                type: "GET",
                cache: false,
                url: "/EmployeeSubmission/BindToolbarData",
                success: function (response) {
                    $("#SpFileVersion").html(response.FileVersionNumber);
                    $("#SpFileSubmission").html(response.SubmissionDateTime);
                }
            })
            //$("#SpFileVersion").html("aaaaaaa");
            //alert(1);

        }
        function onFailureRecordRequestEnd(e, status) {

            if (!e.response.Errors) {
                if (e.response.Total > 0) {
                    $("#uploader").hide();
                    $("#Validator").hide();
                    $("#ErrorEmployeeList").show();
                }
            }
            if (e.response.Errors) {
                var grid = $("#gridFailureRecord").data("kendoGrid");
                grid.cancelChanges();
                var message = "";
                $.each(e.response.Errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alertify.error(message);
            }
            //Check request type
            if (e.type == "update" && !e.response.Errors) {
                var grid = $("#gridFailureRecord").data("kendoGrid");
                grid.dataSource.read();
                if (e.response.Total > 1) {
                    $("#uploader").hide();
                    $("#Validator").hide();
                    $("#ErrorEmployeeList").show();
                    alertify.success("Update record is successfull");
                }
                else {
                    $("#uploader").hide();
                    $("#Validator").show();
                    $("#ErrorEmployeeList").hide();
                    alertify.success("All records are successfully edited , Please click on validate button");
                }
            }
        }
        function onPopOpen(e) {

            e.container.data('kendoWindow').bind('activate', function (e) {
                $('#FirstName').focus();
                $(":input").each(function (i) { $(this).attr('tabindex', i + 1); });
                $("#GenderId").parent().attr("tabindex", "13");
                $("#RaceId").parent().attr("tabindex", "14");
                $("#EEOCodeId").parent().attr("tabindex", "19")
                $("#StateId").parent().attr("tabindex", "25");
                $("#CountyId").parent().attr("tabindex", "27");

            });
            //$("#PicturePath").kendoUpload();
            $("#Salary").addClass("k-textbox");
            $("#LastPerformanceRating").addClass("k-textbox");
            $('.k-textbox').attr("style", "width:80%");
            $('.k-dropdown').attr("style", "width:80%");
            $('.k-datepicker').attr("style", "width:80%");

        }
        function onUpload(e) {
            e.data = {
                SubmissionDateTime: $("#submissiondatetime").val()
            }; //set your customer id.
        }
        function onSelect(e)
        {
            if ("@LoginInfo.Roles" == "DefinedSoftwareAdministrator")
            {
                if ($("#organization").data("kendoDropDownList").value() == "")
                {
                    alertify.error("Please select the Organization before uploading the Employee CSV file ");
                    $(".k-upload-selected").hide();
                }
            }

       }
    </script>
}

@if (LoginInfo.Roles == "DefinedSoftwareAdministrator")
            {
    <script>


            $(document).ready(function () {
                if (@TempOrgId.Length>0)
                {
                    $("#organization").data("kendoDropDownList").value(@TempOrgId);
                } else
                {
                    alertify.error("Please select the Organization before uploading the Employee CSV file ");
                    $(".uploadtoggle").hide();

                }
            });

        function BindDashboardForAdmin()
        {
            if (this.value() == "")
            {
                alertify.error("Please select the Organization before uploading the Employee CSV file ");
                $(".uploadtoggle").hide();

            }
            else {
                ddlItem = parseInt(this.value());
                $.ajax({
                    type: "GET",
                    cache: false,
                    url: "/Dashboard/BindDashboardForAdmin",
                    data: {
                        orgId: ddlItem
                    },
                    success: function (response) {
                        $(".uploadtoggle").show();
                        // location.href = '@Url.Action("Index", "EmployeeSubmission")';
                    },
                    error: function (errorResponse) {
                        console.log(errorResponse);
                    }
                });
            }

        }
    </script>
}