@using Kendo.Mvc.UI
@model dsdProjectTemplate.ViewModel.User.ResetPasswordModel
@{
    ViewBag.Title = "SetPassword";
    string passwordSent = ViewBag.PasswordSent as string;
    Layout = "~/Views/Shared/_LayoutWithouLogin.cshtml";
}
<style>
    .k-textbox, .k-dropdown {
        width: 100%
    }

    ul.nav.navbar-nav.pull-right li {
        display: none;
    }
</style>
<style>
    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }

        .valid:before {
            position: relative;
            left: -35px;
            content: "✔";
        }

    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
        color: red;
    }

        .invalid:before {
            position: relative;
            left: -35px;
            content: "✖";
        }

    .pass-message {
        position: relative;
    }

        .pass-message #message {
            background: rgba(255,255,255,.95);
            border: 1px solid #04418c;
            position: absolute;
            z-index: 99;
            width: 270px;
            right: 0;
            left: 0;
            margin: 10px auto 0;
            padding: 15px;
            max-width: 100%;
            border-radius: 3px;
        }

    div#message:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgba(4,65,140,.8);
        position: absolute;
        top: -10px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    .pass-message #message h3 {
        margin-top: 0;
        font-size: 12px;
        font-weight: 700;
        color: #04418c;
    }

    .pass-message p {
        padding: 4px 30px;
        font-size: 12px;
        margin: 0;
        font-weight: 600;
        position: relative;
    }

        .pass-message p:before {
            position: absolute;
            left: 0;
        }
    #formSetPassword {
        width: 380px !important;
    }
</style>
@using (Html.BeginForm("SetPassword", "Home", null, FormMethod.Post, new { id = "formSetPassword" }))
{
<div class="col-md-12">
    <br />
    <h2 class="text-center">Set Your Password!</h2>
    <div class="text-center form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
        @Html.HiddenFor(e => e.Email)
        @(Html.Kendo().TextBoxFor(m => m.Email).Name("Email").HtmlAttributes(new { placeholder = "User Name", @class = "form-control", @style = "text-transform:uppercase", disabled = "disabled" }))
    </div>
    <div class="form-group">
        <div class="pass-message">
            @(Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { placeholder = "Password", type = "password", @class = "form-control" }))
            <div id="message" style="display:none">
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid">At least one <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">At least one <b>uppercase</b> letter</p>
                <p id="Special" class="invalid">At least one <b>Special </b> character</p>
                <p id="number" class="invalid">At least one <b>number</b></p>
                <p id="length" class="invalid">A minimum of <b>6 characters</b> in length</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        @(Html.Kendo().TextBoxFor(m => m.ConfirmPassword).HtmlAttributes(new { placeholder = "Confirm Password", type = "password", @class = "form-control" }))
    </div>
    <div class="form-group form-actions text-center">
        <input type="hidden" id="Key" name="Key" value="@ViewBag.Key" />
        <input id="btnSubmit" type="submit" class="col-md-12 col-sm-12 col-xs-12 col-sm-12 k-primary k-button" value="Set Password" />
        <br />
        
        <div id="divValidationSummary" style="display:none">
            @Html.ValidationSummary()
        </div> @if (!string.IsNullOrEmpty(passwordSent))
        {
            <div class="col-md-12 col-md-offset-3">
                <h4 class="text-center">Your password has been reset</h4>
                <a class="col-md-12 col-sm-12 col-xs-12 col-sm-12 text-center" style="background-color:#31859B;color:white; border:none; text-align:center" href="/Login">Click here to return to login screen</a>
            </div>
        }
    </div>
    
</div>
}
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/alertifyjs/alertify.js"></script>
    <script src="~/Content/alertifyjs/alertify.min.js"></script>
    <script>
        var myInput = document.getElementById("Password");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");
        var Special = document.getElementById("Special");
        // When the user clicks on the password field, show the message box
        myInput.onfocus = function () {
            document.getElementById("message").style.display = "block";
        }

        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function () {
            document.getElementById("message").style.display = "none";
        }

        // When the user starts to type something inside the password field
        myInput.onkeyup = function () {
            // Validate lowercase letters
            var V1 = 0;
            var V2 = 0;
            var V3 = 0;
            var V4 = 0;
            var V5 = 0;
            var lowerCaseLetters = /[a-z]/g;
            if (myInput.value.match(lowerCaseLetters)) {
                letter.classList.remove("invalid");
                letter.classList.add("valid");
                V1 = 1;
            } else {
                letter.classList.remove("valid");
                letter.classList.add("invalid");
                V1 = 0;
            }

            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            if (myInput.value.match(upperCaseLetters)) {
                capital.classList.remove("invalid");
                capital.classList.add("valid");
                V2 = 1;
            } else {
                capital.classList.remove("valid");
                capital.classList.add("invalid");
                V2 = 0;
            }
            // Validate Special letters
            var SpecialCaseLetters = /([!,%,&,@@,#,$,^,*,?,_,~])/;
            if (myInput.value.match(SpecialCaseLetters)) {
                Special.classList.remove("invalid");
                Special.classList.add("valid");
                V3 = 1;
            } else {
                Special.classList.remove("valid");
                Special.classList.add("invalid");
                V3 = 0;
            }
            // Validate numbers
            var numbers = /[0-9]/g;
            if (myInput.value.match(numbers)) {
                number.classList.remove("invalid");
                number.classList.add("valid");
                V4 = 1;
            } else {
                number.classList.remove("valid");
                number.classList.add("invalid");
                V4 = 0;
            }

            // Validate length
            if (myInput.value.length >= 6) {
                length.classList.remove("invalid");
                length.classList.add("valid");
                V5 = 1;
            } else {
                length.classList.remove("valid");
                length.classList.add("invalid");
                V5 = 0;
            }
            if (V1 == 1 && V2 == 1 && V3 == 1 && V4 == 1 && V5 == 1) {
                $("#btnSubmit").removeAttr("disabled");
            } else {
                $("#btnSubmit").attr("disabled", "disabled");
            }

        }
    </script>

    <script>
        $(function () {
            $("#btnSubmit").click(function (e) {
                var IsValid = $("#formSetPassword").valid();
                if (!IsValid) {
                    var validationSummary = $("#divValidationSummary").html();
                    alertify.error(validationSummary);
                }
            });
            if ($("#divValidationSummary").text().trim().length > 0) {
                var validationSummary = $("#divValidationSummary").html();
                alertify.error(validationSummary);
            }
        });
    </script>
}