@model EEONow.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}
<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/kendo/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/kendo/jquery.min.js"></script>
<script src="~/Scripts/kendo/jszip.min.js"></script>
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
<style>
    .k-textbox, .k-dropdown {
        width: 100%
    }

    .header-login-logo {
        /*width: 100%;*/
    }

        .header-login-logo:hover {
            content: url('../Content/Logo/EEO_NOW-Logo-Web-Light.png');
        }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="login-heading">
            <img class="header-login-logo" src="~/Content/Logo/EEO_NOW-Logo-Web.png" />
            @*<h2>Welcome to <span class="primary-color"> EEO Now  </span>AAP! </h2><h4></h4>*@
        </div>
        <div class="row">

            @using (Html.BeginForm("Login", "Account", null, FormMethod.Post, new { id = "formLogin" }))
            {
                @Html.HiddenFor(m => m.ReturnUrl)
                <div class="col-md-6 col-md-offset-3 new-login-form">
                    <h2 class="text-center">Login</h2>
                    <div class="text-center form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        @(Html.Kendo().TextBoxFor(m => m.Email).Name("Email").HtmlAttributes(new { placeholder = "Email", @class = "form-control" }))

                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        @(Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { placeholder = "Password", type = "password", @class = "form-control" }))

                    </div>
                    <div class="form-group form-actions text-center">
                        <input type="submit" id="btnSubmit" style="" class="col-md-12 col-sm-12 col-xs-12 col-sm-12 k-primary k-button" value="Login" />
                        <br /><br /><br />
                        <div class="forgot-password"> @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account", null, new { @class = "A-Forget-link" }) </div>
                    </div>
                    <br />
                    <div id="divValidationSummary">
                        @Html.ValidationSummary()
                    </div>

                </div>

            }
        </div>


    </div>
</div>

@section css{
    <link href="~/Content/Custom/login.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/css/alertify.rtl.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/alertifyjs/alertify.js"></script>
    <script src="~/Content/alertifyjs/alertify.min.js"></script>
    <script>
        $(function () {
            $("#btnSubmit").click(function (e) {
                var IsValid = $("#formLogin").valid();
                if (!IsValid) {
                    var validationSummary = $("#divValidationSummary").html();
                    alertify.error(validationSummary);
                }
            });

            if ($("#divValidationSummary").text().trim().length > 0) {
                var validationSummary = $("#divValidationSummary").html();
                alertify.error(validationSummary);
            }
        });

    </script>
}