<li class="nav-item  menu-open">
    <a href="/Dashboard" class="nav-link @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("Dashboard")">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            Dashboard
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Masters/Organizations" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("Organizations")">
        <i class="fas fa-building"></i>        
        <p>
            Organizations
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Masters/OrganizationYears" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("OrganizationYears")">
        <i class="fas fa-calendar-alt"></i>        
        <p>
            Organization Years
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/OrganizationUsers" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("OrganizationUsers")">
        @*<i class="fas fa-calendar-alt"></i>*@
        <i class="fas fa-users"></i>        
        <p>
            Organization Users
        </p>
    </a>
</li>

<li class="nav-item">
    <a href="/Masters/ClientsContactTypes" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("ClientsContactTypes")">
        <i class="far fa-address-book"></i>        
        <p>
            Clients Contact Types
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Masters/ProvidersContactTypes" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("ProvidersContactTypes")">
        <i class="far fa-address-book"></i>
        <p>
            Providers Contact Types
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Masters/States" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("States")">
        <i class="fas fa-globe-europe"></i>
        <p>
            States
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Masters/County" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("County")">
        <i class="fas fa-globe-europe"></i>
        <p>
            Counties
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Masters/Cities" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("Cities")">
        @*<i class="fas fa-globe-europe"></i>*@
        <i class="fas fa-city"></i>        
        <p>
            Cities
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Masters/GendersType" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("GendersType")">
        <i class="nav-icon fas fa-venus-mars"></i>
        <p>
            Genders Type
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Masters/SecurityQuestions" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("SecurityQuestions")">
        @*<i class="nav-icon fas fa-venus-mars"></i>*@
        <i class="nav-icon fas fa-question"></i>
        <p>
            Security Questions
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Masters/UsersType" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("UsersType")">
        <i class="nav-icon fas fa-user"></i>
        <p>
            Users Type
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Masters/UsersRoles" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("UsersRoles")">
        <i class="nav-icon fas fa-user-tag"></i>

        <p>
            User Roles
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Masters/RegistrationRequestTypes" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("RegistrationRequestTypes")">
        @*<i class="nav-icon fas fa-user-tag"></i>*@
        <i class="nav-icon fas fa-universal-access"></i>
        <p>
            Registration Request Types
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Users" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("Users")">
        <i class="nav-icon fas fa-users-cog"></i>
        <p>
            Users
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Masters/MenuConfiguration" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("MenuConfiguration")">
        @*<i class="nav-icon fas fa-users-cog"></i>*@
        <i class="nav-icon fas fa-bars"></i>
        <p>
            Menu Configuration
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/Masters/MenuHeaderConfiguration" class="nav-link  @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("MenuHeaderConfiguration")">
        @*<i class="nav-icon fas fa-users-cog"></i>*@
        <i class="nav-icon fa fa-cog"></i>
        <p>
            Menu Header Configuration
        </p>
    </a>
</li>
<li class="nav-item ">
    <a href="/SystemErrorsLog" class="nav-link @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("SystemErrorsLog")">
        <i class="nav-icon fas fa-bug"></i>        
        <p>
            System's Errors
        </p>
    </a>
</li>
<li class="nav-item ">
    <a href="/ActionsHistory" class="nav-link @dsdProjectTemplate.Web.Models.MakeActiveMenu.MakeActive("ActionsHistory")">
        @*<i class="nav-icon fas fa-bug"></i>*@
        <i class="nav-icon fas fa-history"></i>
        <p>
            App History
        </p>
    </a>
</li>

