@model EEONow.Models.EEOGenderCompensationReportModel
@{
    ViewBag.Title = "EEO Gender Compensation Report";
    Layout = "~/Views/Shared/_PartialViewLayout.cshtml";
}
<style>

    table {
        width: 100%;
    }
    body{
        background:#fff !important;
    }
    .Bg-AlaternateTr {
        background: #f0f0f0;
    }

    tr.bg-blue:hover td {
        color: #fff;
        background: #04418c;
    }

    tr.bg-blue td {
        color: #000;
    }

    .color-Black {
        color: #000;
    }

    inspector-stylesheet:1 tr.bg-blue:hover {
        background: #04418c;
        color: #fff;
    }

    .table-grid {
        width: 100%;
        border-collapse: collapse;
    }

        .table-grid > tbody > tr > th {
            padding: 1px;
        }

        .table-grid > thead > tr > th,
        .table-grid > tbody > tr > th,
        .table-grid > tfoot > tr > th,
        .table-grid > thead > tr > td,
        .table-grid > tbody > tr > td,
        .table-grid > tfoot > tr > td {
            border: 1px solid #04418c;
        }



        .table-grid .table-grid td,
        .table-grid .table-grid th {
            border-top: 1px solid #04418c;
            border-right: 1px solid #04418c;
            border-bottom: 0;
            border-left: 0;
        }

            .table-grid .table-grid td:last-child,
            .table-grid .table-grid th:last-child {
                border-right: 0;
            }

    td {
        /*border: 1px solid #04418c;*/
        color: #04418c;
        /*border-collapse: collapse;*/
        vertical-align: top;
    }

    .noborder {
        border: none;
    }

    /*.Alm-Img {
        width: 100px;
        float: left;
        margin-right: 10px;
    }

    .Alm-imgtext {
        float: left;
        margin-top: 40px;
    }*/
    .Alm-text {
        vertical-align: middle;
        /*font-size: 18px;
        font-weight: 400;*/
        text-align: center;
    }


    .td-top-none {
        border-top: none !important;
        /*vertical-align :middle;*/
    }

    .td-bottom-none {
        border-bottom: none !important;
    }

    .td-left-none {
        border-left: none !important;
    }

    .td-right-none {
        border-right: none !important;
    }

    .aligncenter {
        text-align: center;
        vertical-align: middle;
    }

    .alignmiddle {
        vertical-align: middle;
        padding-left: 3px;
        text-align: center;
    }

    .alignRight {
        text-align: right;
        padding-right: 3px !important;
    }

    .nohover {
        background: none !important;
        color: #000 !important;
    }

    .AVExport {
        float: right;
        margin-top: 3px;
        margin-right: -70px;
        text-decoration: underline;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
    }

        .AVExport:hover {
            font-size: 16px;
        }

    .tdgrandtotal {
        text-align: right;
        padding-right: 10px;
        font-size: 18px;
    }

    .tdEmployeeTotal {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
    }

    .tdTitle {
        font-weight: 700;
    }

    td, th {
        padding: 0px !important;
        height: 22px !important;
    }

    tr {
        height: 80px;
        font-size: 20px;
        font-weight: 600;
    }
</style>
<div style="height:150px"></div>
@{int countEEORow = 0; }
@foreach (var itemJobTitle in Model.ListJobTitleForEEOGenderCompensation)
            {
    <table class="table-grid">
        <tbody>
            @if (countEEORow == 0)
            {
                <div style="height:40px">&nbsp;&nbsp;</div> }
            else if (countEEORow % 11 == 0)
            {
                <div style="height:150px">&nbsp;&nbsp;</div> }

            @if (countEEORow % 11 == 0)
            {
                <tr>
                    <td class="Alm-text" colspan="2" width="23%">
                        @Model.OrganizationName
                    </td>
                    <td width="78%">
                        <table class="table-grid aligncenter">
                            <tr>
                                <th class="td-top-none td-right-none" height="25px" width="25.66%" style="text-align:center; font-size:20px">
                                    EEO Compensation Report
                                </th>
                                <th colspan="2" class="td-top-none"><span onclick="" class=""></span></th>
                            </tr>
                            <tr>
                                <td class="alignmiddle noborder Gheader" width="40%" id="TdMale">
                                    Male
                                </td>
                                <td class="alignmiddle noborder  Gheader" width="40%" id="TdMale">
                                    Female
                                </td>
                                <td class="noborder alignmiddle  Gheader">
                                    Total Employees
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
            <tr>
                <td class="@(countEEORow % 2 == 1?"color-Black":"color-Black Bg-AlaternateTr")" style="text-align: center; vertical-align: middle;" width="11%">
                    <span class="tdTitle">@itemJobTitle.JobTitleName</span>
                </td>
                <td width="12%">
                    <table class="table-grid">
                        <tr>
                            <th class="td-top-none color-Black alignRight" height="20px">FTEs</th>
                        </tr>
                        <tr class="Bg-AlaternateTr">
                            <th class="color-Black alignRight" height="20px">High</th>
                        </tr>
                        <tr>
                            <th class="color-Black alignRight" height="20px">Medium</th>
                        </tr>
                        <tr class="Bg-AlaternateTr">
                            <th class="color-Black alignRight" height="20px">Low</th>
                        </tr>
                        <tr>
                            <th class="color-Black alignRight" height="20px">Parity</th>
                        </tr>
                        <tr class="Bg-AlaternateTr">
                            <th class="color-Black alignRight" height="20px">Difference</th>
                        </tr>
                        <tr>
                            <th class="color-Black alignRight" height="20px">Percentage</th>
                        </tr>
                    </table>
                </td>
                <td width="78%">
                    <table class="table-grid">
                        @*High*@
                        <tr class="bg-blue">

                            <td class="td-top-none alignmiddle formatNumber" height="20px" width="40%">
                                @Model.ListEEOGenderCompensation.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.FTSMale).FirstOrDefault()
                            </td>
                            <td class="td-top-none alignmiddle formatNumber" height="20px" width="40%">
                                @Model.ListEEOGenderCompensation.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.FTSFemale).FirstOrDefault()
                            </td>

                            <td class="td-top-none alignmiddle nohover formatNumber tdEmployeeTotal" rowspan="7" colspan="2">
                                <b>
                                    @Model.ListEEOGenderCompensationEmployeeCount.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.EmployeeCount).FirstOrDefault()
                                </b>
                            </td>
                        </tr>
                        @*High*@
                        <tr class="bg-blue Bg-AlaternateTr">


                            <td class="alignmiddle" height="20px" width="40%">
                                @Model.ListEEOGenderCompensation.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.HighMale.ToString("N2")).FirstOrDefault()
                            </td>
                            <td class="alignmiddle" height="20px" width="40%">
                                @Model.ListEEOGenderCompensation.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.HighFemale.ToString("N2")).FirstOrDefault()
                            </td>


                        </tr>

                        @* Medium*@
                        <tr class="bg-blue">

                            <td class="alignmiddle" height="20px" width="40%">
                                @(Model.ListEEOGenderCompensation.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.MediumMale.ToString("N2")).FirstOrDefault())
                            </td>
                            <td class="alignmiddle" height="20px" width="40%">
                                @(Model.ListEEOGenderCompensation.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.MediumFemale.ToString("N2")).FirstOrDefault())
                            </td>


                        </tr>
                        @*Low*@
                        <tr class="bg-blue Bg-AlaternateTr">

                            <td class="alignmiddle" height="20px" width="40%">
                                @Model.ListEEOGenderCompensation.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.LowMale.ToString("N2")).FirstOrDefault()
                            </td>
                            <td class="alignmiddle" height="20px" width="40%">
                                @Model.ListEEOGenderCompensation.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.LowFemale.ToString("N2")).FirstOrDefault()
                            </td>


                        </tr>
                        @*Parity*@
                        <tr class="bg-blue">

                            <td class="alignmiddle" height="20px" width="40%">
                                @Model.ListEEOGenderCompensation.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.ParityMale.ToString("N2")).FirstOrDefault()
                            </td>
                            <td class="alignmiddle" height="20px" width="40%">
                                @Model.ListEEOGenderCompensation.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.ParityFemale.ToString("N2")).FirstOrDefault()
                            </td>


                        </tr>
                        @*Difference*@
                        <tr class="bg-blue Bg-AlaternateTr">

                            <td class="alignmiddle" height="20px" width="40%">
                                @Model.ListEEOGenderCompensation.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.DifferenceMale.ToString("N2")).FirstOrDefault()
                            </td>
                            <td class="alignmiddle" height="20px" width="40%">
                                @Model.ListEEOGenderCompensation.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.DifferenceFemale.ToString("N2")).FirstOrDefault()
                            </td>


                        </tr>
                        @*Percentage*@
                        <tr class="bg-blue">

                            <td class="alignmiddle" height="20px" width="40%">
                                @Model.ListEEOGenderCompensation.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.PercentageMale.ToString() + " %").FirstOrDefault()
                            </td>
                            <td class="alignmiddle" height="20px" width="40%">
                                @Model.ListEEOGenderCompensation.Where(e => e.JobTitleName == itemJobTitle.JobTitleName).Select(e => e.PercentageFemale.ToString() + " %").FirstOrDefault()
                            </td>


                        </tr>
                    </table>
                </td>
            </tr>

            @if (Model.ListJobTitleForEEOGenderCompensation.Count() == countEEORow + 1)
            {
                <tr>
                    <th colspan="2" class="alignRight" width="23%">

                    </th>

                    <th class="alignmiddle" height="20px" width="78%">
                        <table class="table-grid">
                            <tr class="bg-blue">
                                <td class="td-top-none alignmiddle nohover tdgrandtotal" width="80%"> Grand Total</td>
                                <td class="td-top-none alignmiddle nohover formatNumber tdEmployeeTotal" style="font-size:15px" height="30px">
                                    <b>  @Model.ListEEOGenderCompensationEmployeeCount.Sum(e => e.EmployeeCount)</b>
                                </td>
                            </tr>
                        </table>
                    </th>
                </tr>
            }
        </tbody>
    </table>
    countEEORow = countEEORow + 1;
}


@section scripts{
    <script src="~/Scripts/kendo/jquery.min.js"></script>
    <script src="~/Scripts/custom.js"></script>

    <script>
        $(document).ready(function () {
            //$(this).find('td').each(function (e) {
            //    console.log(e);
            //})
            //$('.formatNumber').text(formatNumber($('.formatNumber').text()))
            //console.log($('.formatNumber').text());

            $('.formatNumber').each(function (e, elm) {
                $(elm).text(formatNumber($(elm).text()));
            })

        })



    </script>
}